# Dependencies
/node_modules
/client/node_modules

# Environment Variables
# Ignore all .env files in the project
**/.env

# Production build folders
/client/dist
/client/build

# IDE and OS files
.DS_Store
.vscode/